<div class="row">
 <div class="col-md-8">
   <div class="media">
     <br />
     <% avatar_url = @user.avatar_url(128) %>
     <% if avatar_url %>
       <div class="media-left">
         <%= image_tag avatar_url, class: 'media-object' %>
       </div>
     <% end %>
     <div class="media-body">
       <h2 class="media-heading"><%= @user.name %></h2>
       <small>
         <%= pluralize(@user.posts.count, 'post') %>,
         <%= pluralize(@user.comments.count, 'comment') %>
       </small>
     </div>
   </div>
 </div>
</div>
 
<% if has_posts %>
  <h2>Posts</h2>
  <%= render @user.posts %>
<% else %>
  <h4>@user.name has not submitted any posts yet.</h4>
<% end %>

<% if has_comments %> 
  <h2>Comments</h2>
  <%= render @user.comments %>
<% else %>
  <h4><%= "#{@user.name} has not submitted any comments yet." %></h4>
<% end %>

<% if has_favorites %>
  <h2>Favorited Posts</h2>
  <% @user.favorites.each do |f| %>
    <div class="media">
      <%= image_tag f.post.user.avatar_url(48), class: 'pull-left' %>
      <div class="media-body">
       <h4 class="media-heading">
         <%= link_to f.post.title, topic_post_path(f.post.topic, f.post) %>
       </h4>
       <small>
         <%= pluralize(f.post.up_votes, 'up vote') %>,
         <%= pluralize(f.post.down_votes, 'down vote') %> <br>
         <%= f.post.comments.count %> Comments
       </small>
      </div>
    </div>
  <% end %>
<% else %>
  <h4><%= "#{@user.name} has not favorited any posts yet." %></h4>
<% end %>